*{
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
}
#newDiv{
    display: grid;
    align-content: center;
}
#greetingHola{
    align-self: baseline;
}
.introduction {
    background-color:burlywood;
    background-position: center top;
    font-family: Verdana;
    text-align: left;
    color: white;
    margin: 40px;
    border-radius: 40px;
    padding:20px;
}

.skills, .services, .socialMedia{
    background-color: burlywood;
    color:white;
    margin: 60px;
    border: hidden;
    border-radius: 40px;
    padding: 20px;
    position: relative;
}

.skillsHead, .servicesHead, .socialMediaHead{
    font-size: large;
}

.hoverBtn:hover {
    background-color: black;
    color: white;
    cursor:pointer
}

.activeBtn:active {
    background-color: darkgrey;
}

#avatar{
    border-radius: 50%;
    margin:10px;
}

#tech {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   }