<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>CSS Layout</title>
</head>
<body>
    <h1>CSS Layout</h1>
    <h2>Box-sizing Property Example</h2>

    <div class="box-content">
        <p>Content</p>
    </div>
    <br>

    <div class="box-border">
        <p>Border Box</p>
    </div>
    <br><br>

    <h2>Display Property Example</h2>

    <div class="block">Block Element</div>
    <!-- div by default is a block element -->

    <!-- span by default is a inline element -->
    <span class="inline">Inline Element</span> 

    <!-- inline block is a block but it inlines with the previous element -->
    <div class="inline-block">Inline-Block Element</div>

    <div class="sticky">Sticky Position</div>

    <h2>Positioning Elements Example</h2>
    <div class="static">Static Position</div>

    <div class="relative">Relative Position</div>

    <!-- absolute position is in comparision to its parent -->
    <div class="relative">
    <div class="absolute">Absolute Position</div>
    </div>

    <div class="fixed">Fixed Position</div>

    <h1>Floats and Clearning Floats Example</h1>

    <div>
        <div class="float-right">Float Right</div>

        Lorem ipsum dolor sit, amet consectetur adipisicing elit. In praesentium quae quas. Praesentium rem dolor incidunt nesciunt nobis accusamus inventore earum aliquam magnam ad perferendis fugit ipsam tempore nemo iste esse, repudiandae explicabo alias recusandae nisi quo iusto quibusdam distinctio qui! Debitis provident maxime atque cum earum, minima sequi ad! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum tenetur repellat debitis vero dicta cumque dolorem nam quibusdam molestias animi, eos exercitationem perferendis provident blanditiis accusantium sint, quae itaque nesciunt. Temporibus necessitatibus error fuga ipsam magnam ut, quidem numquam nihil explicabo porro repellendus. Inventore obcaecati minima corporis veniam excepturi quasi.
    </div>

    <div>
        <div class="float-left">
            Float Left
        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, reprehenderit aliquid. Numquam consectetur pariatur, blanditiis repellendus animi, recusandae quaerat dolor quidem ratione illo rerum aliquid incidunt consequatur tempora non culpa inventore velit provident autem totam et. Aliquam fugit eligendi odio vitae ea laborum modi qui voluptatibus nisi quos molestias, dolorum vero quasi! Totam, tempora nostrum. Est at architecto autem accusamus nam molestiae harum, facere earum labore corrupti cupiditate ea officiis id ipsum eius facilis voluptatum praesentium vitae? Maxime rem dolor eligendi. Dolorum obcaecati temporibus blanditiis quasi facere laborum velit, aliquam accusamus, harum, quos quidem excepturi reiciendis laboriosam amet cupiditate alias!

        <div class="clear-floats">Clear Floats</div>

        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ipsam quo, sint voluptatum nam voluptates vero laboriosam, fugit et doloremque totam reiciendis molestiae impedit amet, aliquam ducimus expedita nemo delectus nihil quibusdam distinctio asperiores iste corporis? Consequatur, quis accusamus dicta natus minima culpa necessitatibus exercitationem officiis consequuntur vel odit quasi?
    </div>

    <h2>Centering Elements Example</h2>

    <div class="parent-box">
        <div class="center-horizontal">
            <!-- this is important to center the box -->
            <p style="margin:0 auto">This box is horizontally centered.</p>
        </div>
    </div>

    <div class="parent-box center-vertical">
        <div>
            <p>This text is vertically centered.</p>
        </div>
    </div>

    <div class="parent-box center-horizontal-vertical">
        <div>
            <p>This box is  vertically and horizontally centered.</p>
        </div>
    </div>

    <br><br><br><br><br>
</body>
</html>