/* if pc cannot read helvetica, go to sans-serif option */
.font-family-size {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* elements { properties : feature} */
.underline {
    text-decoration: underline;
}

.center-align {
    text-align: center;
}

.line-through {
    text-decoration: line-through;
}

/* 1.5 refers to 1.5 times the usual height. */
.line-height {
    line-height: 1.5;
  }
  
.letter-spacing {
    letter-spacing: 5px;
}

/* by default, shadows go right.If negative number, go left side */
.text-shadow {
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
